<h1>Welcome#index</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @grouped_articles.each do |similarity_set| %>
      <% similarity_set.each do |news_article| %>
          <tr>
            <td><%= news_article.title %></td>
          </tr>
      <% end %>
      <tr>
        <td>.</td>
      </tr>
  <% end %>
</table>